@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default;
}

/* Custom DaisyUI Theme */
@plugin "daisyui/theme" {
  name: "light";
  default: true;

  /* =========================================
     BRAND COLORS
     ========================================= */

  --color-primary: #E5092F;
  --color-primary-content: #FFFFFF;

  --color-secondary: #0A0A0A;
  --color-secondary-content: #FFFFFF;

  --color-accent: #FF334F;
  --color-accent-content: #FFFFFF;

  /* =========================================
     NEUTRAL
     ========================================= */

  --color-neutral: #151515;
  --color-neutral-content: #FFFFFF;

  /* =========================================
     BACKGROUND / SURFACES
     ========================================= */

  --color-base-100: #FFFFFF;
  --color-base-200: #F5F5F5;
  --color-base-300: #E5E5E5;
  --color-base-content: #0A0A0A;

  /* =========================================
     STATUS COLORS
     ========================================= */

  --color-info: #2563EB;
  --color-info-content: #FFFFFF;

  --color-success: #16A34A;
  --color-success-content: #FFFFFF;

  --color-warning: #F59E0B;
  --color-warning-content: #0A0A0A;

  --color-error: #DC2626;
  --color-error-content: #FFFFFF;
}

/* =========================================
   WEBSITE
   ========================================= */

body {
  background-color: #FFFFFF;
  color: #0A0A0A;
  font-family: "Urbanist", sans-serif;
}

/* =========================================
   SWIPER
   ========================================= */

.swiper-pagination {
  display: none;
}